.search__input {
    display: flex;
    align-items: center;
    background-color:  var(--app-color);
    border-radius: 20px;
    padding: 5px;
  }
  .search__input > input {
    border: 1px;
    background-color:var(--app-color);
  }
.input{
  padding: 10px;
}

  .search__searchIcon {
    color: black;
  } 
  