.sidebar {
  flex: 0.3;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 800px) {
  .sidebar {
    flex: 1;
    height: 100%;
    margin-top: 5px;
  }
  .sidebar_options {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .search_box {
    padding-bottom: 10px;
  }
}
