.mainbody {
  display: flex;
  flex-direction: row;
  min-height: 500px;
}
.sidebar_component {
  flex: 0.3;
}
.main_page_body {
  flex: 0.7;
}
.map_div {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 252px;
  border: 1px solid grey;
}
.map_div:focus {
  outline: 0;
}

.logo {
  width: 400px;
  height: 400px;
}
.logoSVG {
  position: absolute;
  width: 50px;
  z-index: 10;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .mainbody {
    display: flex;
    flex-direction: column;
  }
  .sidebar_component {
    flex: 1;
  }
  .body {
    flex: 1;
    padding: 5px;
  }
}
