.sign-in{
    flex:0.5;
    text-align: center;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
  }
  @media screen and (max-width: 800px) {
    .sign-in{
font-size: x-small;
    }
  }