.singinandsignout {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .singinandsignout {
    flex-direction: column;
  }
  .verticalLine {
    border: 1px solid var(--app-color);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
