.app {
  height: 100vh;
  max-width: 1400px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}

body {
  --app-color: #d1ede1;
  --app-color-heavy: #089048;
  --app-color-light: #7bc5ae;

  font-family: 'Roboto';
  padding: 20px 60px;
}
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
.main {
  background-color: #f0f2f7;
}
.main__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 800px) {
  .app {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    max-width: 1500px;
  }
  body {
    padding: 0;
  }
}
